html,
body,
.intro {
  background-color:#174664;

}



table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align:center;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}



