html,
body,
.intro {
  background-color:#174664;

}



table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align:center;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
 .sticky-col {
      position: sticky;
      left: 0;
      z-index: 1;
     background:#174664;
   color: white;
    }
 .sticky-col-left {
 vertical-align: middle;
       position: sticky;
       right: 0;
       z-index: 1;
     background:#174664;
      color: white;
     }
 .sticky-col-middle{
 position:sticky;
 left:9%;
 z=index:1;
 background:#174664;
 color:white;
 }

@media print {
    #divprintabil {
        display: none;
    }
}

.total {
  position: sticky;
  left: 0;
  background:#174664;
  z-index: 1;
}

.total {
  position: sticky;
  right: 3%;
  background:#174664;
  z-index: 1;
}
.total2 {
  position: sticky;
  right: 6%;
  background:#174664;
  z-index: 1;
}
.total3 {
  position: sticky;
  right: 9%;
  background:#174664;
  z-index: 1;
}
.total4 {
  position: sticky;
  right: 12%;
  background:#174664;
  z-index: 1;
}
#invers{
writing-mode: vertical-lr;
}
tfoot {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1;
}





