html,
body,
.intro {
  background-color:#174664;

}



table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align:center;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
 .sticky-col {
      position: sticky;
      left: 0;
      z-index: 1;
     background:#174664;
   color: white;
    }
 .sticky-col-left {
       position: sticky;
       right: 0;
       z-index: 1;
     background:#174664;
      color: white;
     }
 .sticky-col-middle{
 position:sticky;
 left:9%;
 z=index:1;
 background:#174664;
 color:white;
 }

@media print {
    #divprintabil {
        display: none;
    }
}




