<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <link rel="stylesheet" th:href="@{..\static/list.css}"/>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<header th:fragment="header">-->
<!--    <div class="container" >-->
<!--        <h1 class="logo"></h1>-->

<!--        <nav>-->
<!--            <ul>-->
<!--                <li><a th:href="@{/home}">Home</a></li>-->
<!--                <li><a th:href="@{/angajati}">Angajati</a></li>-->
<!--                <li><a th:href="@{/proiecte}">Proiecte</a></li>-->
<!--                <li><a th:href="@{/adauga-angajat-pe-proiect}">Adauga Pe Proiect</a></li>-->
<!--                <li><a th:href="@{/tabel}">Raport</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->
<!--</body>-->
<!--</html>-->