<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{..\static/styles.css}"/>/>
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
</head>
<body>
    <header th:fragment="header">
        <nav role="navigation" class="primary-navigation">
            <ul>
              <li><a th:href="@{/home}">Home</a></li>
              <li><a href="#">Pontaj &dtrif;</a>
                <ul class="dropdown">
                  <li><a th:href="@{/angajati}">Angajati</a></li>
                  <li><a th:href="@{/proiecte}">Proiecte</a></li>
                  <li><a th:href="@{/adauga-angajat-pe-proiect}">Adauga Ore</a></li>
                  <li><a th:href="@{/tabel}">Raport</a></li>
                </ul>
              </li>
              <li><a th:href="@{/about}">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
</header>
</body>
</html>
