<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{..\static/styles.css}"/>/>
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
</head>
<body>
    <header th:fragment="header">
        <div style="z-index:4;">
        <nav role="navigation" class="primary-navigation">
            <ul>
              <li><a th:href="@{/home}">Home</a></li>
              <li><a href="#">Pontaj &dtrif;</a>
                <ul class="dropdown" style="z-index:4;">
                  <li style="z-index:4;"><a th:href="@{/angajati}" class="dropdown">Angajati</a></li>
                  <li style="z-index:4;"><a th:href="@{/proiecte}" class="dropdown">Proiecte</a></li>
                  <li style="z-index:4;"><a th:href="@{/adauga-angajat-pe-proiect}" class="dropdown">Adauga Ore</a></li>
                  <li style="z-index:4;"><a th:href="@{/tabel}" class="dropdown">Raport</a></li>
                </ul>
              </li>
              <li><a th:href="@{/about}">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
</header>
</body>
</html>
