<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/d7ca018e94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/tabel.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Detali Proiect</title>
</head>

<body>
<div layout:fragment="content">
    <section class="intro">
        <div class="bg-image h-100">
            <div class="mask d-flex align-items-center h-100" style="backgroud:#174664">
                <h1 style="
    position: absolute;
    top: 3%;
    left: 45%;
    color:white;
"
                ><span th:text="${proiect.nrComandaInt}"></span></h1>
                <div class="container" style="margin-top:5%;">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col">
                                            <div>Nr Comanda Int: <span th:text="${proiect.nrComandaInt}"></span></div>
                                            <div>Nr Comanda Client: <span th:text="${proiect.nrComandaClient}"></span></div>
                                        </div>
                                        <div class="col">
                                            <div>Data CDE: <span th:text="${proiect.getYearAndMonthAndDayDataCODE}"></span></div>
                                            <div>Data Livrare: <span th:text="${proiect.getYearAndMonthAndDayDataLivrare}"></span></div>
                                        </div>
                                        <div class="col">
                                            <div>Nr Factura: <span th:text="${proiect.nrFactura}"></span></div>
                                            <div>Data Factura: <span th:text="${proiect.getYearAndMonthAndDayDataFactura}"></span></div>
                                            <div>Valoare Factura: <span th:text="${proiect.valoareFactura}"></span>€</div>
                                            <div>Valoare Facturata: <span th:text="${proiect.valoareFacturata}"></span>€</div>
                                        </div>
                                        <div class="col">
                                            <div>Greutate: <span th:text="${proiect.greutate}"></span>Kg</div>
                                            <div>Adresa Livrare: <span th:text="${proiect.adresaLivrare}"></span></div>
                                            <div>Transportator: <span th:text="${proiect.transportator}"></span></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>