<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forma Adaugare Proiect</title>
    <link rel="stylesheet" th:href="@{/nav.css}" />
</head>
<body>
<nav>
    <ul>
        <li>
            <div class="home-icon">
                <div class="roof">
                    <div class="roof-edge"></div>
                </div>
                <div class="front"></div>
            </div>
        </li>
        <li>
            <div class="about-icon">
                <div class="head">
                    <div class="eyes"></div>
                    <div class="beard"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="work-icon">
                <div class="paper"></div>
                <div class="lines"></div>
                <div class="lines"></div>
                <div class="lines"></div>
            </div>
        </li>
        <li>
            <div class="mail-icon">
                <div class="mail-base">
                    <div class="mail-top"></div>
                </div>
            </div>
        </li>
    </ul>
</nav>

<section>
    <h1>3d rotating navigation</h1>
    <h2>+ CSS Icons</h2>
</section>
</body>
</html>
