<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Forma Adaugare Proiect</title>
    <link rel="stylesheet" th:href="@{/form.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="overflow-y:scroll;background:#174664;" >
<div class="container" layout:fragment="content" style="background:#174664;">
    <div class=" text-center mt-5 ">

        <h1 style=" color:white;" >Adaugare Proiect</h1>


    </div>


    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">

                    <div class = "container">
                        <form class="requires-validation" id="myForm" action="#" th:action="@{/save_proiect}" th:object="${proiect}" method="post">



                            <div class="controls">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dataCODE">Data CDE</label>
                                            <input class="form-control" type="date"  id="dataCODE" placeholder="YY-MM" th:field="*{dataCODE}" required>

                                            <label for="dataLivrare">Data Livrare</label>

                                            <input class="form-control" type="date"  id="dataLivrare" placeholder="YY-MM" th:field="*{dataLivrare}" required>
                                            <label for="dataPlecare">Data PLecare</label>
                                            <input class="form-control" type="date"  id="dataPlecare" placeholder="YY-MM" th:field="*{dataPlecare}" required>
                                            <label for="dataFactura">Data Factura</label>
                                            <input class="form-control" type="date"  id="dataFactura" placeholder="YY-MM" th:field="*{dataFactura}" required>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="nrComandaInt">Nr Comanda Int</label>
                                            <input class="form-control" type="text"  id="nrComandaInt" placeholder="Nr. De Comanda Int." th:field="*{nrComandaInt}" required>
                                            <label for="nrComandaClient">Nr Comanda Client</label>
                                            <input class="form-control" type="text"  id="nrComandaClient" placeholder="Nr. De Comanda Client" th:field="*{nrComandaClient}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="adresa Livrare">Adresa Livrare</label>
                                            <input class="form-control" type="text"  id="Adresa Livrare" placeholder="Adresa Livrare" th:field="*{adresaLivrare}" required>
                                            <label for="transportator">Transportator</label>
                                            <input class="form-control" type="text"  id="transportator" placeholder="Transportator" th:field="*{transportator}" required>
                                            <label for="greutate">Greutate</label>
                                            <input class="form-control" type="number"  id="greutate" placeholder="Greutate" th:field="*{greutate}" required>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="valoareFactura">Valoare Factura</label>
                                            <input class="form-control" type="number"  id="valoareFactura" placeholder="Valoare Factura" th:field="*{valoareFactura}" required>
                                            <label for="valoareFacturata">Valoare Facturata</label>
                                            <input class="form-control" type="number"  id="valoareFacturata" placeholder="Valoare Facturata" th:field="*{valoareFacturata}" required>
                                            <label for="nrFactura">Nr Factura</label>
                                            <input class="form-control" type="text"  id="nrFactura" placeholder="Nr de Factura" th:field="*{nrFactura}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <input type="submit" class="btn btn-info btn-send  pt-2 btn-block
                            " value="Adauga Proiect" >

                                    </div>

                                </div>


                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- /.8 -->

        </div>
        <!-- /.row-->

    </div>
</div>

</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dateFields = document.querySelectorAll('input[type="date"]');
        dateFields.forEach(function(field) {
            var currentDate = new Date().toISOString().split('T')[0];
            field.value = currentDate;
        });

        var numberFields = document.querySelectorAll('input[type="number"]');
        numberFields.forEach(function(field) {
            field.value = 0;
        });

       var textFields = document.querySelectorAll('input[type="text"]');
        textFields.forEach(function(field) {
            field.value = '-';
        });

        document.getElementById("myForm").addEventListener("submit", function() {
            numberFields.forEach(function(field) {
                if (field.value.trim() === '') {
                    field.value = 0;
                }
            });
        });
    });
</script>

