<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/d7ca018e94.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/tabel.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Detali Proiect</title>
</head>

<body style="overflow-y:scroll;">
<div layout:fragment="content">
  <section class="intro">
    <div class="bg-image h-100">
      <div class="mask d-flex align-items-center h-100" style="backgroud:#174664" >
        <h1 style="

    position: absolute;
    top: 3%;
    color:white;
    width:100%;
    text-align:center;
    font-size:50px;
    margin-bottom:30px;
    "
        ><span th:text="${proiect.nrComandaInt}"></span></h1>
        <div class="container" style="margin-top:10%; ">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="row">
                    <div class="col">
                      <div><strong>Nr Comanda Int:</strong> <span th:text="${proiect.nrComandaInt}"></span></div>
                      <div><strong>Nr Comanda Client:</strong> <span th:text="${proiect.nrComandaClient}"></span></div>
                      <div><strong>Client:</strong> <span th:text="${proiect.Client}"></span></div>
                    </div>
                    <div class="col">
                      <div><strong>Data Comanda:</strong> <span th:text="${proiect.getYearAndMonthAndDayDataCODE}"></span></div>
                      <div><strong>Data Livrare:</strong> <span th:text="${proiect.getYearAndMonthAndDayDataLivrare}"></span></div>
                    </div>
                    <div class="col">
                      <div><strong>Nr Factura:</strong> <span th:text="${proiect.nrFactura}"></span></div>
                      <div><strong>Data Factura:</strong> <span th:text="${proiect.getYearAndMonthAndDayDataFactura}"></span></div>
                      <div><strong>Valoare Factura:</strong> <span th:text="${proiect.valoareFactura}"></span>€</div>
                      <div><strong>Valoare Facturata:</strong> <span th:text="${proiect.valoareFacturata}"></span>€</div>
                    </div>
                    <div class="col">
                      <div><strong>Greutate:</strong> <span th:text="${proiect.greutate}"></span>Kg</div>
                      <div><strong>Adresa Livrare:</strong> <span th:text="${proiect.adresaLivrare}"></span></div>
                      <div><strong>Transportator:</strong> <span th:text="${proiect.transportator}"></span></div>
                      <div><strong>Total Ore Lucrate:</strong> <span th:text="${proiect.getTotalHours}"></span></div>
                    </div>
                  </div>

                  <div class="table-responsive"  style="  z-index:-1; overflow-x:hidden; overflow-y:hidden">

                    <table class="table table-striped mb-0" >
                      <thead  style="background-color: #174664  ; color: white;  z-index:2;" >
                      <tr class="row" >
                        <th class="col-3">Angajat</th>

                        <th class="col-2">Post</th>
                        <th class="col-3">Ore</th>
                        <th class="col">Data</th>
                      </tr>
                      </thead>
                      <tr class="row" th:each="timpProiect: ${proiect.angajati}">
                        <th class="col-3" th:text="${timpProiect.angajat.fullName}"></th>
                        <th class="col-2" th:text="${timpProiect.angajat.rol}"></th>
                        <th class="col-3" th:text="${timpProiect.ore}"></th>
                        <th class="col" th:text = "${timpProiect.data} "></th>
                        <th class="col" ><a th:href="|/deleteTimpProiectProiect/${timpProiect.id}|"><i class="fa-solid fa-file-excel"></i></a></th>
                      </tr>
                    </table>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</body>
</html>